papeleria.mp4 filter=lfs diff=lfs merge=lfs -text
logo/papeleria.mp4 filter=lfs diff=lfs merge=lfs -text
SISTEMA-LOGING.rar filter=lfs diff=lfs merge=lfs -text
SUPERNOVAS.mp4 filter=lfs diff=lfs merge=lfs -text
