/* ESTILOS DE MI LIBRO */

body {
  background-color: #154360;
  margin: 0;
  padding: 0;
}

.inicio {
  text-align: center;
  background-color: black;
  color: gold;
}

/* Estilos para el contenedor del botón */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background-color: #25d366;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* Estilos para el botón de WhatsApp */

.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  -webkit-transition: transform 0.2s, box-shadow 0.2s;
  -moz-transition: transform 0.2s, box-shadow 0.2s;
  -ms-transition: transform 0.2s, box-shadow 0.2s;
  -o-transition: transform 0.2s, box-shadow 0.2s;
}

.whatsapp-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.btnini {
  width: 20%;
  height: 5%;
  background-color: red;
  color: #fff;
  position: fixed;
  z-index: 9999;
  cursor: pointer;
  margin-top: -470px;
  padding: 20px;
  font-size: 20px;
}

/* SECCION DE CONTACTO */
.contact-section {
  background-color: black;
  color: white;
  padding: 2px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.contact-content {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin: 10px 0;
}

.social-media {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.social-media li {
  display: inline;
  margin-right: 10px;
}

.social-media a {
  color: white;
  text-decoration: none;
}

.social-media a:hover {
  text-decoration: underline;
}

.libroweb {
  width: 30%;
  height: 60%;
  padding: 15px;
  background-color: black;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
  margin-top: 70px;
}

.parrafo {
  color: white;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}
