body {
  background-image: url("starry-sky-2675322_1280.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial, sans-serif;
}
h1 {
  font-size: 75px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: "Times New Roman", Times, serif;
}

.button2 {
  padding: 10px 20px;
  background-color: #4caf50;
  text-decoration: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  float: right; /* Alinea el botón al lado derecho */
  color: white;
  margin-top: 600px;
}
