h1 {
  color: red;
  text-align: center;
}

ul {
  color: blue;
}

h2 {
  color: red;
  text-align: center;
}

p {
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

.pse {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh;
}

.java {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 70vh;
}

h3 {
  text-align: center;
}
